<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">

    <script>

	function validate(){
		var username = document.forms["login"]["username"].value;
		var pwd = document.forms["login"]["pwd"].value;

		if(username==""){
			window.alert("No username");
			return false;
		}
		else if (pwd ==""){
			window.alert("No password");
			return false;
		}
          // Password is valid
          return true;
	}
	</script>
</head>
<body>
<h1>Welcome</h1>
<ul class="login-form">
    {% if "username" in session %}
    <li><a href="{{ url_for('newEvent') }}">Add Event</a></li>
    <li><a href="{{ url_for('ownEvents') }}">Show own events</a></li>
    <li><a href="{{ url_for('logout') }}">Log out</a></li>
    {% else %}
    <form action="/login" method="POST" onsubmit="return validate()">
        <p>Username: <input type="text" name="username"/></p>
        <p>Password: <input type="password" name="password"/></p>
        <p><input type="submit" value="Login" ></p>
        {%if errorMsg%}
        <p>{{errorMsg}}</p>
        {%endif%}
    </form>
    <a href="{{url_for('register') }}" class="btn">Register</a>
    {% endif %}
</ul>

<div class="empty-space"></div>
<form action="/search" method="POST" class="login-form" name = "login">
        <input type="text" name="key"/>
        <a href="{{url_for('search') }}" class="btn">Search</a>
        {%if errorMsg%}
        <p>{{errorMsg}}</p>
        {%endif%}
</form>
<div class="empty-space"></div>

<section class="table" >
    <header>
        {% block header %}{% endblock %}
    </header>
     {% block content %}{% endblock %}
</section>
</body>
</html>