<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Event</title>
    <link rel="stylesheet" href="/static/style.css">


    <script>

	function validate(){
		var eventname = document.forms["registration"]["eventname"].value;
		var description = document.forms["registration"]["description"].value;
		var location = document.forms["registration"]["location"].value;
		var cities = document.forms["registration"]["cities"].value;
		var price = document.forms["registration"]["price"].value;
        var date = document.forms["registration"]["date"].value;
		var time = document.forms["registration"]["time"].value;

		if(eventname==""){
			window.alert("No event name");
			return false;
		}
		else if (description ==""){
			window.alert("No descriiption");
			return false;
		}
		else if(location ==""){
			window.alert("No location");
			return false;
		}
		else if(cities == ""){
			window.alert("No city selected");
			return false;
		}
		else if(price == ""){
			widow.alert("No price");
			return false;
		}
		else if(date == ""){
			window.alert("No date selected");
			return false;
		}
		else if(time == ""){
			widow.alert("No time slot selected");
			return false;
		}

          // Password is valid
          return true;
	}
	</script>

</head>
<body>
    <form action="/addevent" method="POST" class="register-form" onsubmit="return validate()">
        <label for='eventname'>Event Name: </label>
        <input type="text" name="eventname" id="eventname" required /><br/>
        <label for='description'>Description: </label>
        <input type="text" name="description" id="description" required /> <br/>
        <label for='location'>Event location: </label>
        <input type="text" name="location" id="location" required /> <br/>
        <label for="cities">Choose a city:</label>
        <select name="cities" id="cities">
            {% for a in cityInfo %}
            <option value={{ a[0] }}>{{a[1]}}</option>
            {%endfor%}
        </select><br/>
        <label for='price'>Price: </label>
        <input type="text" name="price" id="price" required /> <br/>
        <label for='date'>Date: </label>
        <input type="date" name="date" id="date" required /> <br/>
        <label for='time'>Time: </label>
        <input type="time" name="time" id="time" required /> <br/>
        <input type="submit" value="Submit"><br/>
        <p><a href="{{ url_for('index') }}" class="btn">Abort and return to homepage</a></p>
    </form>
</body>



</html>