<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>{{username}}'s events</h1>

{% for a in Result %}
{% if Result["noOfEvents"]>0 %}
<div class="table">
<h2 class="cityName">{{ Result["eventid"] }}</h2>
<table id={{ a }} >
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Price</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
    </tr>
    {% for event in Result %}
    <tr>
        <td>{{ Result["name"] }}</td>
        <td>{{ Result["location"] }}</td>
        <td>{{ Result["price"] }}</td>
        <td>{{ Result["date"] }}</td>
        <td>{{ Result["time"] }}</td>
        <td><a href="{{ url_for('eventInfo', id=event['eventid']) }}">See More</a></td>
    </tr>
    {% endfor %}
</table>
{%endif%}
{%endfor%}

<div class="empty-space"></div>
<a href="{{ url_for('index') }}" class="btn">Return to homepage</a>
</div>
</body>
</html>